body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #529CE1;
}

main {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 10%;
    min-height: 100vh;
    margin-left: 10%;
    background: #fff;
    padding: 5%;
}

.progress {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.circle {
    width: 120px;
    height: 120px;
    background: #C0DDF8;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.circle p {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 112px;
    color: #FFFFFF;
    -webkit-user-select: none;

}

.sm-circle {
    width: 24px;
    height: 24px;
    background: #C0DDF8;
    border-radius: 50%;
}

.active {
    background: #1E67AB !important;
}

form {
    margin-top: 50px;
}

h1 {
    -webkit-user-select: none;
    font-weight: 500;
    font-size: 36px;
    line-height: 56px;
}

label {
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    -webkit-user-select: none;
    font-size: 28px;
    line-height: 42px;
    display: block;
    margin-top: 15px;
}

input[type=text],
input[type=email],
input[type=radio],
input[type=checkbox],
input[type=tel],
select,
textarea,
input[type="date"],
input[type=password],
input[type=url],
input[type=number] {
    background-color: transparent;
    border: none;
    display: block;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    line-height: 37px;
    margin-top: 15px;
    height: 38px;
    border-bottom: 2px solid #B6B8CC;
}

input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus {
    border-color: #529CE1;
    outline: none;
}

select:focus {
    outline: none;
    border-color: #B6B8CC;
}

.help-text {
    color: #529CE1;
    font-size: 18px;
    font-weight: 700;
}

.help {
    color: black;
    font-weight: 300;
    font-size: 18px;
}

.help sup {
    color: #529CE1;
    font-weight: 700;
}

.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.radio+label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}

.radio+label:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #B6B8CC;
    border-radius: 50%;
    background: #FFF;
}

.radio+label:after {
    content: '';
    position: absolute;
    top: 13px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #529CE1;
    opacity: 0;
    -webkit-transition: .2s;
    transition: .2s;
}

.radio:checked+label:after {
    opacity: 1;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.checkbox+label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}

.checkbox+label:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #B6B8CC;
    background: #FFF;
}

.checkbox+label:after {
    content: '';
    position: absolute;
    top: 13px;
    left: 4px;
    width: 16px;
    height: 16px;
    background: #529CE1;
    opacity: 0;
    -webkit-transition: .2s;
    transition: .2s;
}

.checkbox:checked+label:after {
    opacity: 1;
}

select {
    width: 232px;
    height: 38px;
}

textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    border: none;
    border-bottom: 2px solid #B6B8CC;
    padding: 4px;
    font-weight: 300;
    font-size: 24px;
}

textarea:focus {
    border-bottom: 2px solid #529CE1;
}

input[type="reset"],
input[type="submit"],
input[type="button"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid #1E67AB;
    background: #1E67AB;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 6px 0px #00000030;
    box-shadow: 3px 3px 6px 0px #00000030;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
    outline: none;
}

input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
    background: #529CE1;
    border: 2px solid #529CE1;
}

.buttons {
    width: 444px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 

}

.h1-for-rule{
    text-align: center;
    margin-top: 0;
}
.border-block{
    box-sizing: border-box;
    width: 100%;
    margin-top: 50px;
    background: transparent;
    border: 3px solid #529CE1;
}
.switch{
    height: 100px;
    width: 100%;
    display: flex;
}
.switch div{
    width: 50%;
    background: #B6B8CC;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.switch div span{
    text-align: center;
    color: #fff;
    font-size: 24px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-user-select: none;

}
.border-block form{
    margin-left: 5%;
    margin-right: 5%;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}
::placeholder{
    color: #B6B8CC;
} 
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}
 input[type="date"]::-webkit-calendar-picker-indicator {
    color: #529CE1; 
 }

 input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    visibility: visible !important;
} 
#form1 .buttons{
width: 644px;
}
#form1 .buttons input{
    width: 300px;
    }
#form2{
    display: none;
}
a{
    color:#1E67AB;
}
.main-special{
    padding-top: 1%;
}
.menu a{
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}
.menu a:hover{
    color:#529CE1;
}
.active-a{
    text-decoration: underline !important;
}
.content{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
}
h2 {
    -webkit-user-select: none;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    margin-top: 0;
}
.info{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
.info form label:first-child{
    margin-top: 0;
}
.info form{
    margin-top: 0;
}
.info  form .buttons{
    width: 90%;
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}
.photo{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background:url('icon.png') no-repeat 0 0;
    background-size: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #529CE1;
}

.my {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
 }
  
.info .card  .label-file {
    line-height: 24px;
    width: 250px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    display: block; 
    font-weight: 500;
    font-size: 14px;
    border: 2px solid #1E67AB;
    background: #1E67AB;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: 3px 3px 6px 0px #00000030;
    box-shadow: 3px 3px 6px 0px #00000030;
    box-sizing: border-box;
    padding: 5px 15px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.info .card  .label-file:active{
    background: #529CE1;
    border: 2px solid #529CE1;
}
.my-test .test{
    display: grid;
    grid-template-columns: 2fr  1fr;
    grid-template-rows: 1fr;
    margin-bottom: 50px;
}
.test1{
    height: 100px;
    background:#B6B8CC;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test1 span{
    color: white;
    font-size: 18px;
    word-wrap: break-word;
}
.info-about-test h3{
    font-weight: 500;
    margin-top: 0;
    font-size: 18px;
}
.date-test{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.date-test span{
    margin-bottom: 10px;
    font-size: 16px;
}

.my-test .border-block{
 padding-top: 30px;
 padding-bottom: 30px;  
}
.questions, .price {
    font-size: 20px;
}
@media (min-width: 322px) and (max-width: 575.98px) {
    main {
        margin: 0;
    }
    body{
        background: #fff;
    }
    .buttons {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        width: 100%;
    }

    input[type="reset"],
    input[type="submit"],
    input[type="button"] {
        margin: 0 auto;
        width: 90%;
    }

    input,
    select,
    textarea {
        width: 90%;
    }

    .sm-circle {
        display: none;
    }

    .circle {
        width: 18vw;
        height: 18vw;
    }

    .circle:not(:last-child) {
        margin-right: 6vw;
    }

    .circle p {
        font-size: 3em;
    }
    .switch div span{
        font-size: 18px;
        
    }
    .switch{
        height: 150px;
    }
    #form1 .buttons {
        width: 100%;
        display: block;
        
    }
    #form1 .buttons input{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .content{
       display: block;
    }
    .info{
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr;
    }
    .photo{
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    .label-file, .my{
        margin: 0 auto;
        margin-top: 15px;
    }  
    .info .card  .label-file {
        width: 200px;
    }
    .menu a{
        font-size: 20px;
    }

    h2 {
        font-size: 24px;
        line-height: 24px;
    }
    .main-special h1{
        font-size: 32px;
    }
    .info form label, .info form input {
        font-size: 22px;
        margin-top: 5px;
    }
    .info form .buttons input{
        font-size: 18px;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .content-test{
        display: block;  
    }

    .main-special h1{
        font-size: 32px;
    }
    .info form label, .info form input {
        font-size: 22px;
        margin-top: 5px;
    }
    .info form .buttons input{
        font-size: 18px;
    }
    .info-about-test{
        margin: 0 auto;
        width: 90%;
    }
    .info-about-test h3{
      margin-bottom: 10px;
    }
    .my-test .test{
        grid-template-columns: 1fr;
        grid-template-rows: 120px 1fr;
        margin-bottom: 30px;
    }
    .test1{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .date-test{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .date-test span{
        margin-right: 20px;
    }
    .info-about-test #try{
        width: 100%;
    }
}

@media (max-width: 321px) {

    h1,
    label {
        word-wrap: break-word;
    }

    main {
        margin: 0;
    }
    body{
        background: #fff;
    }
    .buttons {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        width: 100%;
    }

    input[type="reset"],
    input[type="submit"],
    input[type="button"] {
        margin: 0 auto;
        width: 90%;
    }

    input,
    select,
    textarea {
        width: 90%;
    }

    .sm-circle {
        display: none;
    }

    .circle {
        width: 18vw;
        height: 18vw;
    }

    .circle:not(:last-child) {
        margin-right: 6vw;
    }

    .circle p {
        font-size: 2em;
    }
    .switch div span{
        font-size: 18px;
    }
    .switch{
        height: 200px;
        
    }

    #form1 .buttons input:last-child{
        font-size: 14px;
    }

    #form1 .buttons {
        width: 100%;
        display: block;
        
    }
    #form1 .buttons input{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .content{
        display: block;
     }
     .info{
         grid-template-rows: 1fr 3fr;
         grid-template-columns: 1fr;
     }
     .photo{
         width: 150px;
         height: 150px;
         margin: 0 auto;
     }
     .label-file, .my{
         margin: 0 auto;
         margin-top: 15px;
     }  
     .info .card  .label-file {
         width: 150px;
         margin-bottom: 25px;
     }
     .menu a{
         font-size: 20px;
     }
 
     h2 {
         font-size: 24px;
         line-height: 24px;
     }
     .main-special h1{
         font-size: 32px;
     }
     .info form label, .info form input {
         font-size: 22px;
         margin-top: 5px;
     }
     .info form .buttons input{
         font-size: 18px;
     }
     .menu{
         display: flex;
         flex-direction: column;
         justify-content: center;
         margin-bottom: 30px;
     }
     .content-test{
        display: block;  
    }

    .main-special h1{
        font-size: 32px;
    }
    .info form label, .info form input {
        font-size: 22px;
        margin-top: 5px;
    }
    .info form .buttons input{
        font-size: 18px;
    }
    .info-about-test{
        width: 90%;
    }
    .info-about-test h3{
      margin-bottom: 10px;
    }
    .my-test .test{
        grid-template-columns: 1fr;
        grid-template-rows: 120px 1fr;
        margin-bottom: 30px;
    }
    .test1{
        width: 90%;
        margin-bottom: 20px;
        white-space: nowrap;
        overflow: hidden; 
        text-overflow: ellipsis; 
        margin-right: 0;
    }
    .date-test{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .date-test span{
        margin-right: 20px;
    }
    .info-about-test #try{
        width: 100%;
        white-space: nowrap;
        overflow: hidden; 
        text-overflow: ellipsis; 
    }
   
}

@media (min-width: 617px) and (max-width: 767.98px) {
    .circle {
        width: 13vw;
        height: 13vw;
    }

    .circle:not(:last-child),
    .sm-circle {
        margin-right: 2vw;
    }

    .sm-circle {
        width: 2vw;
        height: 2vw;
    }

    .circle p {
        font-size: 3em;
    }

    .buttons {
        width: 100%;
    }

    .buttons input {
        margin: 0 auto;
        width: 180px;
    }
    .switch div span{
        font-size: 18px;
    }
   
    #form1 .buttons {
        width: 100%;
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }
    #form1 .buttons *{
        width: 100%;
        margin: 0 auto;
    }
    .content{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr;
    }
    .info{
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr;
    }
    .photo{
        width: 200px;
        height: 200px;
    }
      
    .info .card  .label-file {
        width: 200px;
    }
    .menu a{
        font-size: 20px;

    }

    h2 {
        font-size: 24px;
        line-height: 24px;
    }
    .main-special h1{
        font-size: 32px;
    }
    .info form label, .info form input {
        font-size: 22px;
        margin-top: 5px;
    }
    .info form .buttons input{
        font-size: 18px;
    }
    .content-test{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 3fr;
    }
    .content-test .menu{
        margin-right: 5px;
    }
    .info-about-test h3{
      margin-bottom: 10px;
    }
    .my-test .test{
        grid-template-columns: 1fr;
        grid-template-rows: 120px 1fr;
        margin-bottom: 30px;
    }
    .test1{
        margin-bottom: 20px;
    }
    .date-test{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .date-test span{
        margin-right: 20px;
    }
    .content-my-test{
        display: block;
    }
    .content-my-test .menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;


    }
}
@media (min-width: 576px) and (max-width: 616.9px) {
    .circle {
        width: 13vw;
        height: 13vw;
    }

    .circle:not(:last-child),
    .sm-circle {
        margin-right: 2vw;
    }

    .sm-circle {
        width: 2vw;
        height: 2vw;
    }

    .circle p {
        font-size: 3em;
    }

    .buttons {
        width: 100%;
    }

    .buttons input {
        margin: 0 auto;
        width: 170px;
    }
    .switch div span{
        font-size: 18px;
    }
    #form1 .buttons {
        width: 100%;
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }
    #form1 .buttons *{
        width: 100%;
        margin: 0 auto;
    }
    .content{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr;
    }
    .info{
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr;
    }
    .photo{
        width: 200px;
        height: 200px;
    }
      
    .info .card  .label-file {
        width: 200px;
    }
    .menu a{
        font-size: 20px;

    }

    h2 {
        font-size: 24px;
        line-height: 24px;
    }
    .main-special h1{
        font-size: 32px;
    }
    .info form label, .info form input {
        font-size: 22px;
        margin-top: 5px;
    }
    .info form .buttons input{
        font-size: 18px;
    }
    
    .content-test{
        display: block;  
    }

    .main-special h1{
        font-size: 32px;
    }
    .info form label, .info form input {
        font-size: 22px;
        margin-top: 5px;
    }
    .info form .buttons input{
        font-size: 18px;
    }

    .content-test .menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    .info-about-test h3{
      margin-bottom: 10px;
    }
    .my-test .test{
        grid-template-columns: 1fr;
        grid-template-rows: 120px 1fr;
        margin-bottom: 30px;
    }
    .test1{
        margin-bottom: 20px;
    }
    .date-test{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .date-test span{
        margin-right: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .circle {
        width: 100px;
        height: 100px;
    }
    #form1 .buttons {
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }
    #form1 .buttons {
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }
    .content{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr;
    }
    .info{
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr;
    }
    .photo{
        width: 200px;
        height: 200px;
    }
      
    .info .card  .label-file {
        width: 200px;
    }
    .menu a{
        font-size: 20px;

    }

    h2 {
        font-size: 24px;
        line-height: 24px;
    }
    .main-special h1{
        font-size: 32px;
    }
    .info form label, .info form input {
        font-size: 22px;
        margin-top: 5px;
    }
    .info form .buttons input{
        font-size: 18px;
    }

    .content-test{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 3fr;
    }
    .info-about-test h3{
      margin-bottom: 10px;
    }
    .my-test .test{
        grid-template-columns: 1fr;
        grid-template-rows: 120px 1fr;
        margin-bottom: 30px;
    }
    .test1{
        margin-bottom: 20px;
    }
    .date-test{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .date-test span{
        margin-right: 20px;
    }
.content-my-test{
        display: block;
    }
    .content-my-test .menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;


    }
}
@media (min-width: 992px) and (max-width: 1018.98px) {
    .circle {
        width: 100px;
        height: 100px;
    }
    .sm-circle{
        width: 20px;
        height: 20px;
    }
    #form1 .buttons {
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }
    .photo{
        width: 200px;
        height: 200px;
    }
      
    .info .card  .label-file {
        width: 200px;
    }

}
@media (min-width: 1019px) and (max-width: 1399.98px) {
    .photo{
        width: 200px;
        height: 200px;
    }
      
    .info .card  .label-file {
        width: 200px;
    }
}


@media (min-width: 1400px) {
    .circle {
        width: 150px;
        height: 150px;
    }

    .circle p {
        font-size: 96px;
    }
    .menu a{
        font-size: 28px;
    }
.content{
    grid-template-columns: 1fr 3fr;
}
h2 {
    font-size: 32px;
    line-height: 32px;
}
.info{
    grid-template-columns: 2fr 3fr;
}
  
}